.game-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 750px;
  background-color: #3a3dff;
  border-radius: 5%;
  box-sizing: border-box;
  border: 3px solid #a5a206;
  .game-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 500px), (max-height: 760px) {
  .game-container {
    display: none;
  }
}
