.buttons-container {
  margin-top: 30px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @mixin active {
    background-color: #d4b503;
    box-shadow: 0 2px rgb(0, 0, 0);
    transition: box-shadow 0.3s ease-out, transform 0.3s ease;
    transform: translateY(4px);
  }
  @mixin button-dir {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 11px;
    border: none;
    outline: none;
    background-color: #ffea00;
    box-shadow: 0 4px rgb(204, 204, 204);
    padding-top: 4px;
    position: relative;
    &:active {
      @include active;
    }
  }
  @mixin button-small {
    @include button-dir;
    width: 20px;
    height: 20px;
    bottom: 40px;
  }
  @mixin label-small {
    position: relative;
    font-size: 10px;
  }
  .buttons-container-left {
    flex: 1;
    margin-left: 20px;
    .button-left {
      @include button-dir;
      img {
        width: 25px;
      }
    }
    .button-right {
      @include button-dir;
      left: 20px;
      img {
        width: 25px;
        transform: rotate(180deg);
      }
    }
    .button-down {
      @include button-dir;
      position: relative;
      top: 20px;
      left: 13px;
      img {
        width: 25px;
        transform: rotate(270deg);
      }
    }
    .label-normal-left {
      @include label-small;
      top: 28px;
      right: 35px;
    }
    .label-normal-right {
      @include label-small;
      top: 30px;
      right: 17px;
    }
    .label-normal-down {
      @include label-small;
      top: 50px;
      right: 26px;
    }
    .button-left-active {
      @extend .button-left;
      @include active;
    }
    .button-right-active {
      @extend .button-right;
      @include active;
    }
    .button-down-active {
      @extend .button-down;
      @include active;
    }
  }
  .buttons-container-right {
    flex: 1;
    margin-right: 20px;
    .button-rotate {
      @include button-dir;
      width: 70px;
      height: 70px;
      top: 50px;
      left: 64px;
      img {
        width: 35px;
        transform: rotate(90deg);
      }
    }
    .label-normal-rotate {
      @include label-small;
      top: 85px;
      left: 12px;
    }
    .button-small-start {
      @include button-small;
      left: 30px;
    }
    .button-small-reset {
      @include button-small;
      right: 39px;
    }
    .button-small-pause {
      @include button-small;
      right: 110px;
    }
    .label-small-start {
      @include label-small;
      bottom: 50px;
      left: 99px;
    }
    .label-small-reset {
      @include label-small;
      bottom: 50px;
      left: 14px;
    }
    .label-small-pause {
      @include label-small;
      bottom: 50px;
      right: 72px;
    }
    .button-rotate-active {
      @extend .button-rotate;
      @include active;
    }
  }
}
