.table-container {
  margin-top: 30px;
  margin-left: 10px;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-columns: repeat(10, 25px);
  grid-gap: 1px;
  background-color: rgb(207, 207, 207);
}
