.score_container {
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 10px;
  margin-bottom: 0;
  width: 76px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
