.App {
  text-align: center;
  .App-body {
    background-color: #6a768f;
    //background-image: url("../src/universe-background.webp");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    .text-info {
      display: none;
    }
    @media (max-width: 500px), (max-height: 760px) {
      .text-info {
        display: block;
        font-size: 40px;
        padding: 20px;
      }
    }
  }
}
